<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Integrador - Nosotros</title>
</head>
<body>
    <header class="main-header">
        <input type="checkbox" id="menu">
  
        <nav class="nav-bar">
          <ul class="nav-bar__nav-list">
            <li class="nav-bar__nav-item">
              <a href="index.html" class="nav-bar__nav-link">Inicio</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="#" class="nav-bar__nav-link">Alta</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="views/nosotros.html" class="nav-bar__nav-link">Nosotros</a>
            </li>
            <li class="nav-bar__nav-item">
              <a href="views/contacto.html" class="nav-bar__nav-link">Contacto</a>
            </li>
          </ul>
        </nav> <!-- .nav-bar -->
  
        <div class="search-bar">
          <div class="search-bar__logo-container">Logo</div>
          <form action="#" class="search-bar__form-container">
            <label for="busqueda" class="search-bar__form-label">Buscar</label>
            <input type="search" class="search-bar__form-search" id="busqueda">
            <input type="submit" class="search-bar__form-submit" value="Buscar">
          </form>
          <div class="search-bar__carrito-container">C</div>
          <div class="menu-toogle">
            <label for="menu" class="menu-toogle__label">
              <span class="menu-toogle__top-bread"></span>
              <span class="menu-toogle__meat"></span>
              <span class="menu-toogle__bottom-bread"></span>
            </label>
          </div>
        </div> <!-- .search-bar -->

        <section class="nosotros-seccion">ñ
          <div class="contenedor">
            <h2>Nuestra Empresa</h2>
            <div class="contenido">
              <div class="imagen">
                <img src="../public/img/empresa.png" alt="Nuestra Empresa">
              </div>
              <div class="texto">
                <p>En Infinitoo creemos en el potencial de las empresas colombianas. Por eso, promovemos la creación de alianzas
                  significativas a través de servicios especializados en venta tecnologico.
                </p>
                
                <p>Nuestro servicio se basa en la confianza y en la generación de valor y productividad para nuestros clientes. Por eso,
                  nuestro portafolio de productos tecnológicos cuenta con expertos informáticos, a nivel nacional, capacitados con los más 
                  altos estándares profesionales para atender de forma personalizada las necesidades de cada organización.
                </p>
              </div>
            </div>
          </div>
        </section>
  
      </header> <!-- main-header -->
      <footer class="pie-pagina">
        <div class="contenedor">
          <div class="columna">
            <h3>Acerca de Nosotros</h3>
            <p>Somos una empresa dedicada a la venta tecnológica. Nuestro objetivo es proporcionar soluciones creativas y efectivas para nuestros clientes.</p>
          </div>
          <div class="columna">
            <h3>Enlaces Útiles</h3>
            <ul>
              <li><a href="index.html">Inicio</a></li>
              <li><a href="../nosotros.html">Nosotros</a></li>
              <li><a href="../contacto.html">Contacto</a></li>
            </ul>
          </div>
          <div class="columna">
            <h3>Contacto</h3>
            <p>Dirección: Carrera 90 #6a - 47, Bogota, Colombia</p>
            <p>Email: info@Infinitoo.com</p>
            <p>Teléfono: +57 3108854196</p>
          </div>
        </div>
      </footer>
      
      <main>
        
        <script type="module" src="/main.js"></script>
</body>
</html>